@import "essential_definitions.css";

p {
    margin: 0;
}

/* navigation-specific underline */
#startup-fair-link {
    text-decoration: underline;
}

/* content */
.content {
    display: block;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

#about-startup-fair {
    display: flex;
    padding: 20px;
}

#startup-fair-image {
    margin-left: 10vw;
    left: 10vw;
    width: 300px;
    height: 280px;
    border-radius: 10%;
}

#startup-fair-logistics {
    width: 55vw;
    padding: 20px;
    display: block;
    text-align: center;
    align-content: center;
}

#startup-fair-logistics p {
    padding: 5px;
}

#startup-fair-tag {
    font-size: 2.5em;
    padding: 0 0 20px 0;
}

#startup-fair-title {
    font-size: 3em;
    font-weight: bold;
}

#startup-fair-date-and-time {
    font-size: 1.5em;
}

#startup-fair-description {
    text-align: left;
}

#startup-sponsor-button {
    display: grid;
    padding: 5px;
    background-color: var(--primary-text);
    color: var(--primary-background);
    border: 3px solid var(--primary-background);
    width: 15vw;
    height: 40px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
}

#startup-sponsor-link {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

#startup-sponsor-button:hover {
    cursor: pointer;
    color: var(--primary-text);
    border: 3px solid var(--primary-text);
    background-color: var(--primary-background);
}

#startup-fair-description {
    justify-items: center;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.2em;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}